<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUuwREP94Fuyl6fmcBaXSyUYkdi-rlEpA</string>
	<key>GCM_SENDER_ID</key>
	<string>376452017396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dexiga.chisholm</string>
	<key>PROJECT_ID</key>
	<string>dexigachat-15c9e</string>
	<key>STORAGE_BUCKET</key>
	<string>dexigachat-15c9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376452017396:ios:8db1bddd581002c9b282a1</string>
</dict>
</plist>